@import url('../fonts.css');

.contact-us-section {
    background-color: #f5f7fa;
}

.contact-us-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: bold;
}

.contact-us-custom-button {
    color: #ff9f00;
    background-color: transparent;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 140px;
    height: 43px;
    border-style: solid;
    border-width: 2px;
    border-color: #ff9f00;
}