@import url('../fonts.css');

.contact-us-section {
    background-color: #222b36;
}

.contact-us-section-image {
    width: 100%;
    margin-bottom: 10px;
}

.contact-us-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 700;
}